[submodule "frontend"]
	path = frontend
	url = https://github.com/IvanVasquez289/CHAT_APP_FRONTEND.git
[submodule "backend"]
	path = backend
	url = https://github.com/IvanVasquez289/CHAT_APP_BACKEND.git
